@import "../index.scss";

.about {
  margin: 10px 0;
  .title {
    h1 {
      font-size: 22px;
      font-weight: 700;
    }
  }

  .content {
    p {
      font-size: 18px;
      font-weight: 500;
      margin: 0 20px;
    }
  }
}
